body {
  font-family: 'Rubik', sans-serif;
  font-family: 'Work Sans', sans-serif;
  color: #000000 !important;
}

a {
  color: #000000 !important;
}

main

h1

h2

h3

p

.nav

.topnav

.splash

.splashbtn
