body {
  font-family: 'Work Sans', sans-serif;
  color: #faff00 !important;
  background: "/assets/top view.jpg";
}

div.splash {
  display: flex;
  align-items: center;
  background-color: #353238;
  margin: 0 auto;
  flex-direction: column;
  width: 300px;
  margin-top: 400px;
}

button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  background-color: #faff00;
  color: #353238;
  text-decoration: none;
  font-size: 20px;
}

a {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  color: #faff00;
  text-decoration: none;
}

a:visited {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  color: #faff00;
  text-decoration: none;
}

nav {
  background-color: #353238;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  color: #faff00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #faff00;
  color: #353238;
}

nav a.active {
  background-color: #4CAF50;
  color: #353238;
}
