body {
  font-family: 'Work Sans', sans-serif;
  color: #353238 !important;
}

div.splash {
  display: flex;
  align-items: center;
  background-color: #EDF2F4;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}

a {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  color: #353238;
  text-decoration: none;
}

a:visited {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  color: #353238;
  text-decoration: none;
}

nav {
  background-color: #EDF2F4;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  color: #353238;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #faff00;
  color: #353238;
}

nav a.active {
  background-color: #4CAF50;
  color: #353238;
}
